* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.doctor-details {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction:column;

    gap: 50px;
}

.doctor-details .back{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;

    cursor:pointer;
}
.doctor-details .back img{
    transition: margin-right 300ms ease;
    margin-right: 0;
}
.doctor-details .back:hover img{
    margin-right: 15px;
}

.doctor-details .header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    gap: 15px;
}
.doctor-details .header .edit{
    margin-bottom: 10px;
    cursor: pointer;
}

.doctor-details .header h3 {
    color: #000;
    font-family: Trirong;
    font-size: 52px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.9%; /* 58.708px */

    position: relative;
}

.doctor-details .header h3::before {
    content: "";
    width: 75px;
    height: 3px;
    background-color: black;

    border-radius: 5px;
    position: absolute;
    bottom: 0; 
    left: 0;
}

.doctor-details .content {
    display: flex;
    justify-content: flex-start;
    align-items:center;

    gap: 75px;
    width: 100%;
    position: relative;
}

@media only screen and (max-width: 875px) {
    .doctor-details .content {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 475px) {
    .doctor-details .content img {
        height: 375px !important;

    }
}
.doctor-details .content .right-col{
    width: 100%;
    position: relative;
}

.doctor-details .content img {
    border-radius: 15px;
    max-width: 375px;
    height: 575px;
    object-fit: cover;
}

.doctor-details .content .work-hours ul {
    list-style: none;
    color: #333;
    width: 100%;
    padding: 0;
}

.doctor-details .content .work-hours ul li {
    margin: 10px 0;
    border-radius: 8px;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa; /* Light and neutral background */
}

.doctor-details .content .work-hours ul li .hour {
    background-color: #eaeaea; /* Soft, light gray background */
    color: #333; /* Dark text for contrast and readability */
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold; /* Bold text for emphasis */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}



.create {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    color: #000;
    font-family: Trirong;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.9%; /* 18.064px */

    border: none;
    background: none;
    outline: none;
    transition: all 300ms ease-in-out;
}

.doctor-details h5 {
    color: #000;
    font-family: Trirong;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.9%; /* 58.708px */

    position: relative;
    margin-bottom: 10px;
}


.biography .accordion-content {
    max-height: 100px; /* Initial max height */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.biography .accordion-content.expanded {
    max-height: 1000px; /* Adjust to fit content */
    transition: max-height 0.7s ease-in-out;
}

.biography .accordion-toggle {
    display: block;
    margin: 10px auto;
    max-width: 30px; /* Adjust size as needed */
    max-height: 30px; /* Adjust size as needed */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.biography .accordion .expanded .accordion-toggle {
    transform: rotate(180deg); /* Rotate icon for expanded state */
}
