
.oogaandoening {
    width: 100%;

    position: relative;
    display :flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;

    padding: 12px 0;
}

.oogaandoening::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;
    background-color:#E5E5E5;
}
.oogaandoening:last-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;
    background-color:#E5E5E5;
}

.oogaandoening .afbeelding {
    min-width: 235px;
    max-width: 235px;
    height: 150px;
    object-fit: cover; 
}

.oogaandoening .afbeelding img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover; 
}

.oogaandoening .content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.oogaandoening .content .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 100%;
}

.oogaandoening .content .text h5 {
    color: #000;
    font-family: Trirong;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.9%; /* 36.128px */
}

.oogaandoening .content .text p {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 154%; /* 24.64px */
}



.oogaandoening .content .delete_button {
    border: none;
    border-radius: 5px;
    background-color: #ed5b45;
    outline: none;

    position:absolute;
    top:0; 
    right:0; 

    margin: 5px 0px;
    
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 154%; /* 24.64px */
    text-transform: uppercase;

    width: 30px;
    height: 30px;
}
.oogaandoening .content .delete_button img{
       width: 20px;
}

.oogaandoening .content button {
    border: none;
    background: none;
    outline: none;

    color: #5C96C1;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 154%; /* 24.64px */
    text-transform: uppercase;
}


@media only screen and (max-width: 750px) {
    .oogaandoening .afbeelding {
        display: none;
    }
}