<div class="chatbot-container">
    <div class="chatbot-button" @onclick="ToggleChatbot">
        <svg class="chatbot bg" xmlns="http://www.w3.org/2000/svg" width="47" height="53" viewBox="0 0 47 53" fill="none">
            <circle cx="22.5" cy="22.5" r="22.5" fill="#6CBABA" />
            <path d="M45.0001 45L22.0002 45L33 35L45.0001 45Z" fill="#6CBABA" />
        </svg>

        <svg class="chatbot curl" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M1.64312 2.99013C0.814608 2.45939 0.715872 1.28685 1.44396 0.625034C1.97712 0.140402 2.78011 0.105004 3.35385 0.540843L6.2489 2.74006L6.4012 2.88704C8.37432 4.79113 10.2055 6.83701 11.8801 9.00829L13.3443 11.4922C13.7118 12.1156 13.5914 12.9114 13.0559 13.3981C12.3215 14.0656 11.1556 13.8666 10.6843 12.9933L9.83162 11.4132C9.74631 11.2551 9.64666 11.1052 9.53391 10.9654L6.9553 7.76691L4.29598 4.82713C4.09953 4.60997 3.87507 4.41991 3.62849 4.26195L1.64312 2.99013Z" fill="white" />
        </svg>
        <svg class="chatbot i" xmlns="http://www.w3.org/2000/svg" width="11" height="23" viewBox="0 0 11 23" fill="none">
            <path d="M3.50001 10C3.50001 10 2.1988 14.6266 3.50001 17.0553C3.95297 17.9007 4.15549 18.3873 5.00001 19C5.84452 19.6127 5.99612 19.4369 6.50001 19.5C7.21027 19.5372 7.46051 19.5138 8.00001 19.5" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M4 3H4.0175" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    @if (IsChatbotOpen)
    {
        <div class="chatbot-content">
            <div class="chatbot-header">
                <div class="header-content">
                    <img src="./images/logo.png" alt="Profile Picture" class="header-profile-pic" />
                    <div class="header-text">
                        <h3>Chat met onze Oogarts</h3>
                        <p>We zijn online!</p>
                    </div>
                </div>
            </div>
            @if (Messages is not null)
            {
                <div class="time">
                    <p>@GetFormattedDateTime()</p>
                </div> 
            }
            
            <div class="chatbot-messages">
                @foreach (var message in Messages)
                {
                    <div class="chat-bubble @(message.StartsWith("User:") ? "user" : "bot")">@message.Replace("User: ", "")</div>
                }
                @if (IsTyping)
                {
                    <div class="chat-bubble bot typing">
                        <span class="circle scaling"></span>
                        <span class="circle scaling"></span>
                        <span class="circle scaling"></span>
                    </div>
                }
            </div>
            <div class="chatbot-footer">
                <button @onclick="ToggleEmojiPicker" class="smiley-button">
                    😊
                </button>

                @if (IsEmojiPickerOpen)
                {
                    <div class="emoji-picker">
                        @foreach (var emoji in EmojiList)
                        {
                            <button @onclick="() => InsertEmoji(emoji)" class="emoji-button">@emoji</button>
                        }
                    </div>
                }

                <input type="text" placeholder="Typ een bericht..." @bind="UserInput" />
                <button @onclick="() => SendMessage(UserInput)" class="send-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path fill="black" d="M2 21l21-9L2 3v7l15 2-15 2v7z" />
                    </svg>
                </button>
            </div>
        </div>
    }
</div>
