@inherits LayoutComponentBase
<PageTitle>Oogarts</PageTitle>

<div class="page">
    <nav>
        <NavBar />
    </nav>
    <section class="section">
        <div class="body-container">
            @Body
        </div>
    </section>
    <Chatbot />
</div>
<RadzenComponents />