@inherits LayoutComponentBase
<PageTitle>Oogarts</PageTitle>

<div class="page">
    <NavBar />
    <main>
        <article>
            @Body
        </article>   
    </main>
    <Sidepanel />
    <Chatbot />
    <Sidepanel />
</div>
<RadzenComponents />