.navbar {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items:center;

    background: white;

    border-radius: 25px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.08);
}

.navbar .nav-logo {
    cursor: pointer;
}

.navbar .nav-links {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 15px;
    flex-flow: row wrap;
}

.navbar .nav-links .nav-item {
    display: flex;
    justify-content: center;
    align-items:center;
}

::deep .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #2B2B2B;

    position: relative;
    padding: 0;
    margin: 0;
}

::deep .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;

    width: 0px;
    height: 1px;
    border-radius: 5px;
    background: black;

    transition: width 300ms ease;

    animation: showHr 300ms forwards;
}


@keyframes showHr {
    from {
        width: 0px;
        background-color: black;
        opacity: 1;
    }
    to {
        width: 20px;
        background-color: black;
        opacity: 1;
    }
}
.nav-item:nth-last-of-type(2) {
    z-index:1;
}

.nav-item:last-of-type {
    display: flex;
    align-items: center;
}

.search {
  display: block;
  z-index:0;
}
.search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;    
  font-size: 14px;
  -webkit-appearance: none;
  transition: all 0.6s ease;
  cursor: pointer;
  color: #000;
}
.search input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}
.search input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px;
  right: 0;
  top: 0;
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transition: all 0.6s ease;
}
.search input:not(:-moz-placeholder-shown) {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:-ms-input-placeholder) {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:placeholder-shown), .search input:focus {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:-moz-placeholder-shown) + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
.search input:not(:-ms-input-placeholder) + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
.search input:not(:placeholder-shown) + div svg, .search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: #F3628D;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
body .dribbble img {
  display: block;
  width: 76px;
}

@media only screen and (min-width: 800px) {
    .burger-menu {
        display: none;
    }

    
}
@media only screen and (max-width: 1200px) {
    .burger-menu {
        display: block;
        max-width: 35px;
        margin-right: 15px;
        cursor: pointer;
    }

    .navbar .nav-links.open {
        display: flex;
        flex-direction: column;

        position: absolute;
        right: 0;   
        top: 110%;

        background: white;
        border-radius: 25px;

        padding: 15px 5px;

        transition: all 300ms ease-in-out;
        z-index: 100;
    }

    .navbar .nav-links {
        display: none;
    }

    .navbar .nav-links[b-i8yibuhcyo] {
        display: none !important;
    }

}