<div class="Appointment-Container">
    <div class="Appointment-Left-Container">
        @if (!showDate)
        {
            <div>Kies een dokter:</div>
        }
        <select class="input" @onchange="HandleDoctorSelection">
            <option value=""></option>
            <option value="drSmith">Dr. Smith</option>
            <option value="drJohnson">Dr. Johnson</option>
        </select>
        @if (showDate)
        {
            @if (!showTime)
            {
                <div>Kies een datum:</div> 
            }
            <div><input class="input" @onchange="HandleDateSelection" type="date" /></div>
        }
    </div>
    @if (showTime)
    {
        <div class="button-container">
            @for (float hour = startHour; hour < endHour; hour += 0.25f)
            {
                // Generate a random number between 0 and 1
                var random = new Random();
                var randomOpacity = random.NextDouble();

                // Conditionally set the button class based on the random number
                var buttonClass = randomOpacity < 0.2 ? "time-button disabled-button" : "time-button";

                <button class="@buttonClass" @onclick="() => HandleTimeSelection(hour)">
                    @($"{(int)hour}:{((hour % 1) * 60).ToString("00")}")
                </button>
            }
        </div>
    }
    <div></div>
</div>

