@inject IJSRuntime JSRuntime

<EditForm Model=@Patient class="form" OnValidSubmit=@CreateAppointmentAsync>
	<FluentValidationValidator />

	<div class="form-row">
		<RadzenTextBox @bind-Value="Patient.LastName" Style="width: 100%; border-radius:10px; border:none;" Placeholder="Achternaam" />
		<ValidationMessage For="() => Patient.LastName" />
		<RadzenTextBox @bind-Value="Patient.FirstName" Style="width: 100%; border-radius:10px; border:none;" Placeholder="Voornaam" />
		<ValidationMessage For="() => Patient.FirstName" />
	</div>

	<div class="form-row">
		<RadzenTextBox @bind-Value="Patient.Email" Style="width: 100%; border-radius:10px; border:none;" Placeholder="Email" />
		<ValidationMessage For="() => Patient.Email" />
		<RadzenTextBox @bind-Value="Patient.PhoneNumber" Style="width: 100%; border-radius:10px; border:none;" Placeholder="Gsm Nr." />
		<ValidationMessage For="() => Patient.PhoneNumber" />
	</div>
	<div class="form-row">
		<RadzenDatePicker @bind-Value=@value Style="width: 100%; border-radius:10px; border:none;" Placeholder="Geboortedatum" />
		<ValidationMessage For="() => Patient.BirthDate" />
	</div>
	<div class="form-row">
		<RadzenTextArea @bind-Value="@value" Style="width: 100%; border-radius:10px; border:none;" Placeholder="Klachten"/>
	</div>
	<div class="form-row">
		<div class="buttons">
			<button class="cancel" @onclick=Reset>annuleer</button>
			<button class="next">Volgende</button>
		</div>
	</div>
</EditForm>