@page "/admin"
@using Client.Admin.Components.Symptoms
@using Client.Admin.Components.EyeConditions
@using Client.Admin.Components.Articles
@using Client.Admin.Services;
@inject NavService NavService

<nav class="navbar flex">
    <div class="nav-logo">
        <img class="logo" src="images/logo.png" title="Logo">
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="@GetBurgerMenuClass()">
                <div class="nav-item px-3" @onclick="ToggleMenu">
                    <p class="nav-link" @onclick='() => SetActive("team")'>
                        TEAM
                        <hr />
                    </p>
                </div>
                <div class="nav-item px-3" @onclick="ToggleMenu">
                    <p class="nav-link" @onclick='() => SetActive("article")'>
                        NIEUWS
                        <hr />
                    </p>
                </div>
                <div class="nav-item px-3" @onclick="ToggleMenu">
                    <p class="nav-link" @onclick='() => SetActive("eyecondition")'>
                        OOGAANDOENINGEN
                        <hr />
                    </p>
                </div>
                <div class="nav-item px-3" @onclick="ToggleMenu">
                    <p class="nav-link" @onclick='() => SetActive("symptom")'>
                        SYMPTOMEN
                        <hr />
                    </p>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
    <div class="nav-item px-3">
        <AccessControl />
    </div>
    <img class="burger-menu" src="/images/menu.png" @onclick="ToggleMenu" />
</nav>

<div class="gridContainer"> 
@if (ActiveItem == "symptom")
{
    <SymptomGrid />
}
else if (ActiveItem == "eyecondition")
{
    <EyeConditionGrid />
}
else if (ActiveItem == "article")
{
   <ArticleGrid /> 
}
</div>
