@page "/Contact"

<PageTitle>Contact</PageTitle>

<div class="contact">
	<div class="header">
		<h3 class="header-title">Contact</h3>
	</div>
	<div class="content">
		<div class="left-col">
			<div class="contact-info">
				<div class="icon">
					<img src="./images/map-pin.svg" alt="map pin"/>
				</div>
				<div class="text">
					<h4>Antwerpsesteenweg 1022, 9040 Gent</h4>
					<p>Open elke weekdag van 09-17 u. </p>
				</div>
			</div>
			<div class="contact-info">
				<div class="icon">
					<img src="./images/phone.svg" alt="phone" />
				</div>
				<div class="text">
					<h4> + 32(0)3 776 77 77 </h4>
					<p>Voor dringende oogzorg buiten onze kantooruren, bel ons spoednummer op + 32(0)3 776 77 77  </p>
				</div>
			</div>
			<div class="contact-info">
				<div class="icon">
					<img src="./images/mail.svg" alt="mail" />
				</div>
				<div class="text">
					<h4>example@email.com</h4>
				</div>
			</div>
		</div>
		<div class="right-col">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2506.7847005329827!2d3.778036377002171!3d51.0755243421608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c376fd48f2d687%3A0x1773eb5790d0402b!2sAntwerpsesteenweg%201022%2C%209040%20Gent!5e0!3m2!1snl!2sbe!4v1701814786540!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
	<Footer />
</div>

@code {

}
