@page "/Contact"

<PageTitle>Contact</PageTitle>

<div class="contact">
	<div class="header">
		<h3 class="header-title">Contact</h3>
	</div>
	<div class="content">
		<div class="left-col">
			<div class="contact-info">
				<div class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
						<path d="M48.625 23.4165C48.625 39.4582 28 53.2082 28 53.2082C28 53.2082 7.375 39.4582 7.375 23.4165C7.375 17.9464 9.54798 12.7004 13.4159 8.83243C17.2839 4.96449 22.5299 2.7915 28 2.7915C33.4701 2.7915 38.7161 4.96449 42.5841 8.83243C46.452 12.7004 48.625 17.9464 48.625 23.4165Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M28 30.2915C31.797 30.2915 34.875 27.2135 34.875 23.4165C34.875 19.6195 31.797 16.5415 28 16.5415C24.203 16.5415 21.125 19.6195 21.125 23.4165C21.125 27.2135 24.203 30.2915 28 30.2915Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="text">
					<h4>Antwerpsesteenweg 1022, 9040 Gent</h4>
					<p>Open elke weekdag van 09-17 u. </p>
				</div>
			</div>
			<div class="contact-info">
				<div class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="44" height="45" viewBox="0 0 44 45" fill="none">
						<path d="M42.9336 32.5835V38.8335C42.9359 39.4137 42.8171 39.9881 42.5846 40.5197C42.3522 41.0513 42.0113 41.5285 41.5837 41.9208C41.1562 42.313 40.6514 42.6116 40.1018 42.7975C39.5522 42.9834 38.9698 43.0524 38.3919 43.0002C31.9811 42.3036 25.8232 40.113 20.4127 36.6044C15.3791 33.4058 11.1114 29.1381 7.91274 24.1044C4.39186 18.6694 2.20075 12.4814 1.51691 6.04187C1.46485 5.46576 1.53332 4.88512 1.71795 4.33692C1.90259 3.78872 2.19935 3.28497 2.58934 2.85775C2.97933 2.43052 3.454 2.08918 3.98314 1.85546C4.51228 1.62173 5.08429 1.50075 5.66274 1.5002H11.9127C12.9238 1.49025 13.904 1.84828 14.6706 2.50756C15.4372 3.16684 15.9379 4.08238 16.0794 5.08354C16.3432 7.08367 16.8324 9.04755 17.5377 10.9377C17.818 11.6834 17.8787 12.4938 17.7125 13.2729C17.5464 14.052 17.1604 14.7671 16.6002 15.3335L13.9544 17.9794C16.9202 23.1951 21.2387 27.5136 26.4544 30.4794L29.1002 27.8335C29.6667 27.2734 30.3818 26.8874 31.1609 26.7212C31.94 26.5551 32.7504 26.6157 33.4961 26.896C35.3862 27.6013 37.3501 28.0906 39.3502 28.3544C40.3623 28.4971 41.2865 29.0069 41.9472 29.7866C42.6079 30.5664 42.9589 31.5618 42.9336 32.5835Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="text">
					<h4> + 32(0)3 776 77 77 </h4>
					<p>Voor dringende oogzorg buiten onze kantooruren, bel ons spoednummer op + 32(0)3 776 77 77  </p>
				</div>
			</div>
			<div class="contact-info">
				<div class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54" fill="none">
						<path d="M9.33335 9.3335H44.6667C47.0959 9.3335 49.0834 11.321 49.0834 13.7502V40.2502C49.0834 42.6793 47.0959 44.6668 44.6667 44.6668H9.33335C6.90419 44.6668 4.91669 42.6793 4.91669 40.2502V13.7502C4.91669 11.321 6.90419 9.3335 9.33335 9.3335Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M49.0834 13.75L27 29.2083L4.91669 13.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="text">
					<h4>example@email.com</h4>
				</div>
			</div>
		</div>
		<div class="right-col">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2506.7847005329827!2d3.778036377002171!3d51.0755243421608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c376fd48f2d687%3A0x1773eb5790d0402b!2sAntwerpsesteenweg%201022%2C%209040%20Gent!5e0!3m2!1snl!2sbe!4v1701814786540!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			<svg class="bg-bol" width="323" height="328" viewBox="0 0 323 328" fill="none" xmlns="http://www.w3.org/2000/svg">
				<ellipse cx="161.5" cy="164" rx="161.5" ry="164" fill="#D8F7F7" />
			</svg>

			<svg class="bg-bol" xmlns="http://www.w3.org/2000/svg" width="196" height="196" viewBox="0 0 196 196" fill="none">
				<circle cx="98" cy="98" r="98" fill="#C4F1F1" />
			</svg>
		</div>
	</div>
	<Footer />
</div>

@code {

}
