.oogaandoeningen {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 155px);
    display: flex;
    flex-direction: column;
    gap: 45px;
}
    .oogaandoeningen .notification {
        min-height: calc(100vh - 155px);
    }

.profile {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    color: #000;
    font-family: Trirong;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.9%; /* 18.064px */

    border: none;
    background: none;
    outline: none;
}
.oogaandoeningen .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.oogaandoeningen .header h3 {
    color: #000;
    font-family: Trirong;
    font-size: 52px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.9%; /* 58.708px */
    position: relative;
}

.oogaandoeningen .header h3::before {
    content: "";
    width: 85px;
    height: 3px;
    background-color: black;

    border-radius: 5px;
    position: absolute;
    bottom: -5px; 
    left: 0;
}

.create {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;

    color: #000;
    font-family: Trirong;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.9%; /* 18.064px */

    border:none;
    background: none;
    outline:none;
    transition: all 300ms ease-in-out;
}
.create:hover{
    text-decoration: underline;
}


.oogaandoeningen .header .filter {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 15px;

    cursor:pointer;
}
.oogaandoeningen .content {
    margin-bottom: 25px;
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}
@media only screen and (max-width: 945px) {
    .oogaandoeningen .header h3 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 745px) {
    .oogaandoeningen .header {
        flex-direction: column;
        align-items: start;

        gap: 15px;
    }

    .oogaandoeningen .header .filter {
        transform: translateX(-15px);
    }
}

.request-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.request {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
}

    .request .icon {
        background-color: rgb(244,221,223);
        border-radius: 50%;
        width: 55px;
        height: 55px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }

        .request .icon::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgb(220,82,86);
            z-index: -1;
        }

    .request h4 {
        text-align: center;
    }

    .request p {
        text-align: center;
    }

    .request .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

        .request .buttons button:first-of-type {
            background: rgb(238,238,238);
        }

        .request .buttons button:last-of-type {
            background: rgb(217,77,76);
            color: white;
            font-weight: 500;
        }

.requestButton {
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 154%; /* 24.64px */
    padding: 10px 20px;
    border-radius: 7.5px;
}