@page "/Afspraak/Confirm";

<PageTitle>Afspraak</PageTitle>

<div class="confirmation">
	<div class="header">
		<h3>Afspraak details</h3>
	</div>
	<div class="container flex">
		<div class="confirmationtxt">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in quam tempus, lacinia leo id, euismod tortor. In aliquam et velit eget commodo. Donec bibendum neque in sollicitudin lacinia. Etiam nec nulla vitae velit tempor dapibus. Curabitur lobortis lorem nec sodales sollicitudin. Nulla facilisi. Suspendisse ullamcorper accumsan quam quis fermentum. Maecenas vitae dapibus tortor, efficitur gravida augue. Nulla urna elit, consequat eu tincidunt at, tempor eu leo. Nunc pretium, quam in molestie porttitor, nunc est vestibulum ante, eget facilisis tellus velit sed turpis. Vestibulum nec tincidunt diam, in gravida velit. Ut at justo vel purus pretium congue quis quis erat.
		</div>
		<div class="btncontainer">
			<button class="button homebtn">Home</button>
		</div>
	</div>
</div>